###################################################
### Dependencies for pingex Functionality       ###
###                                             ###
### To install, run:                            ###
###      $ pip install -r requirements.txt      ###
###                                             ###
###################################################

## packet manipulation dependencies ##
scapy
